# Database connection settings
DB_USER=rebalancer_user
DB_PASSWORD=rebalancer_pw
DB_HOST=localhost
DB_PORT=5433
DB_NAME=rebalancer
DB_SSL=false

# JWT Secret for token generation
JWT_SECRET=3ff871298683173e0600f3c25f6b97105b3c480b76cdb9037a31138e13b471d4
